<div class="container-fluid">
	<div class="row">
		<div class="jumbotron jumbotron-fluid col-lg-12 col-md-12 col-xl-12 col-sm-12 xl" [class]="headerBgImage">
			<div class="container">
				<div class="jumbotron" [class]="bannerImage">
					<div class="container-fluid">
						<h1 class="display-1 text-white text-center text-danger font-weight-bold ">{{title}}</h1>
						<h1 class="display-2 text-white text-center text-danger font-weight-normal ">{{message}}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>