<nav class="navbar container fixed-top bg-success bg-dark">
	<img src="./assets/images/logo-covid-img4.jpg" alt="" class="imgLogo rounded">

	<div>
		<a class="active rounded" href="#"><i class="fas fa-home"></i> Home</a>
		<a href="#" class="rounded"><i class="fas fa-phone"></i> Contact</a>
		<a href="#" class="rounded">Login</a>
		<a href="#" class="rounded"> About </a>
		<form class="form-inline" action="">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<button class="btn btn-success" ><i class="fas fa-search"></i></button>
		</form>
	</div>
</nav>